<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./web/core/tests/bootstrap.php" colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutCoversAnnotation="false"
         printerClass="\Drupal\Tests\Listeners\HtmlOutputPrinter"
>
    <php>
        <!-- Set error reporting to E_ALL. -->
        <ini name="error_reporting" value="32767"/>
        <!-- Do not limit the amount of memory tests take to run. -->
        <ini name="memory_limit" value="-1"/>
        <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="web/sites/simpletest"/>
        <env name="MINK_DRIVER_ARGS_WEBDRIVER" value='["chrome", {"browserName":"chrome","chromeOptions":{"w3c": false, "args":["--disable-gpu","--headless", "--no-sandbox"]}}, "http://127.0.0.1:4444"]' />
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>./web/modules/custom/*/tests/src/Unit</directory>
            <directory>./web/themes/custom/*/tests/src/Unit</directory>
            <directory>./web/profiles/custom/*/tests/src/Unit</directory>
        </testsuite>
        <testsuite name="kernel">
            <directory>./web/modules/custom/*/tests/src/Kernel</directory>
            <directory>./web/themes/custom/*/tests/src/Kernel</directory>
            <directory>./web/profiles/custom/*/tests/src/Kernel</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>./web/modules/custom/*/tests/src/Functional</directory>
            <directory>./web/themes/custom/*/tests/src/Functional</directory>
            <directory>./web/profiles/custom/*/tests/src/Functional</directory>
        </testsuite>
        <testsuite name="functional-javascript">
          <directory>./web/modules/custom/*/tests/src/FunctionalJavascript</directory>
          <directory>./web/themes/custom/*/tests/src/FunctionalJavascript</directory>
          <directory>./web/profiles/custom/*/tests/src/FunctionalJavascript</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="\Drupal\Tests\Listeners\DrupalListener">
        </listener>
    </listeners>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./web/modules/custom/*/src</directory>
            <directory suffix=".php">./web/themes/custom/*/src</directory>
            <directory suffix=".php">./web/profiles/custom/*/src</directory>
            <file>./web/modules/custom/*/*.module</file>
            <file>./web/themes/custom/*/*.theme</file>
            <file>./web/profiles/custom/*/*.profile</file>
            <exclude>
                <directory>./web/modules/custom/*/src/Tests</directory>
                <directory>./web/themes/custom/*/src/Tests</directory>
                <directory>./web/profiles/custom/*/src/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
